Source: ecere-sdk
Section: devel
Priority: optional
Maintainer: Jerome St-Louis <jerome@ecere.com>
Build-Depends:
 autotools-dev,
 debhelper (>= 7.0.50~),
 libfontconfig1-dev,
 libfreetype6-dev,
 libgif-dev,
 libgl1-mesa-glx,
 libgl1-mesa-dev,
 libjpeg62-dev,
 libncurses5-dev,
 libpng12-dev,
 libsqlite3-dev,
 libx11-dev,
 libxext-dev,
 libxrender-dev,
 linux-libc-dev,
 upx-ucl,
 zlib1g-dev,
 libffi-dev
Standards-Version: 3.9.3
Homepage: http://www.ecere.com/

Package: ecere-sdk
Architecture: i386 armel armhf powerpc
Depends: ecere-doc, ecere-samples, ecere-extras, libecere, ${devel:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Ecere cross-platform SDK
  Develop applications once, deploy them on
  all platforms alongside a lightweight runtime
  environment.

Package: libecere
Architecture: i386 armel armhf powerpc
Depends: ${devel:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Ecere Runtime Library
  Develop applications once, deploy them on
  all platforms alongside a lightweight runtime
  environment.

Package: ecere-samples
Architecture: all
Depends: ${devel:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Project samples for the Ecere SDK
  This package contains samples for multimedia,
  database, graphics, communication, and other
  useful software that can be created with the
  Ecere SDK.

Package: ecere-doc
Architecture: all
Depends: ${devel:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Documentation for the Ecere SDK
  This package includes the Ecere Tao of Programming,
  an ebook designed to help programmers become familiar
  with eC and Ecere, as well the API reference
  in the form of .eCdoc until it is embedded.

Package: ecere-extras
Architecture: all
Depends: ${devel:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Extras for the Ecere SDK
  This package provides additional Ecere
  functionality, such as SSL Sockets, Audio,
  in the form of source code. Also included:
  the Application and Pixmap for the IDE.
