Source: ecere-sdk
Section: misc
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Ryan Prior <ryanprior@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, zlib1g-dev, libpng12-dev, libgif-dev, libjpeg62-dev, libncurses5-dev, libfreetype6-dev, libfontconfig1-dev, libx11-dev, libxrender-dev, libgl1-mesa-dev, libxext-dev
Standards-Version: 3.8.0
Homepage: http://ecere.com

Package: ecere-sdk
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libecere, ecere-samples, ecere-doc, upx-nrv
Description: Ecere cross-platform SDK
  Develop applications once, deploy them on
  all platforms alongside a lightweight runtime
  environment.

Package: libecere
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ecere cross-platform SDK
  Develop applications once, deploy them on
  all platforms alongside a lightweight runtime
  environment.

Package: ecere-samples
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Project samples for the Ecere SDK
  This package contains samples for multimedia,
  database, graphics, communication, and other
  useful software that can be created with the
  Ecere SDK.

Package: ecere-doc
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Documentation for the Ecere SDK
  This package includes the Ecere Tao of Programming,
  an ebook designed to help programmers become familiar
  with eC and Ecere.
