#!/usr/bin/make -f

DEB_HOST_ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)
export DEBIAN_PACKAGE=1
export DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildflags.mk

ifndef prefix
prefix=/usr
endif

ifeq ($(DEB_HOST_ARCH),amd64)
export LIBDIR=$(prefix)/lib/x86_64-gnu-linux
else
export LIBDIR=$(prefix)/lib/i386-gnu-linux
endif

%:
	dh $@

override_dh_strip:
